# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*

# Streamlit + caches
#.streamlit/
#.streamlit/secrets.toml
#**/.streamlit/
**/.cache/
.cache/
**/.stcache/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
